<div class="show-container row bg-show">
  <%= render "shared/heading" %>
  <div class="col">
    <%= render "shared/pill_sm" %>
  </div>
  <div class='col align-self-end'>
    <div class="card">
      <div class="card-header">
        Quote
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A well-known, reliable local for all your around the house jobs.</p>
          <footer class="blockquote-footer">Local Tradie <cite title="Source Title"><%= @service.title %></cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-8 '>
    <h2 class='mt-2'><i class="fas fa-tools"></i><%= @service.title %></h2>
    <p class='text-wrap' style="width: 30rem;">Come take a look! at John now!, he has a number of services available from general handyman to full bathroom makeovers! </p>
    <p class='text-wrap' style="width: 30rem;">Average cost: $<%= @service.cost %> </p>
    <div class="col align-self-end">
      <img src='https://picsum.photos/id/1047/70/70'>
      <img src='https://picsum.photos/id/1058/70/70'>
      <img src='https://picsum.photos/id/1068/70/70'>
      <img src='https://picsum.photos/id/177/70/70'>
      <div class='row mt-1'>
        <div class='col'>
          <img src='https://picsum.photos/id/188/70/70'>
          <img src='https://picsum.photos/id/211/70/70'>
          <img src='https://picsum.photos/id/214/70/70'>
          <img src='https://picsum.photos/id/217/70/70'>
        </div>
      </div>
    </div>
  </div>
  <div class='col mt-2 border py-3 bg-white text-dark'>
    <%= simple_form_for new_service_booking_path(@service.id), method: :post do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.input :comment %>
      <%= f.submit "Contact Tradie", class: "btn btn-primary" %>
    <%end %>
  </div>
</div>
</div>
</div>
</div>
