<!--
<div class="container mt-5">
  <div class='row mb-3'>

    <div class='col-sm-12 col-md-6 col-lg-6'>
      <div class="p-5 bg-light border rounded-3 text-center d-flex flex-column justify-content-evenly align-items-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class:"profile-pic border border-dark border-4" %>
        <div class="card-body">
          <h2>Chris Paul</h2>

          <p>Account ID: <%= @user.id %></p>
         <p> Email: <%= @user.email %></p>
         <p> Address: 121 Johnson Street </p>
         <p> DOB: 19/08/1990</p>
        </div>
      </div>
    </div>

    <div class='col-sm-12 col-md-6 col-lg-6'>
      <div class="p-5 bg-light border rounded-3">
        <h2>Upcoming Bookings 📚</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">comments</th>
              </tr>
            </thead>
            <tbody>
              <% @bookings.each do |item| %>
                <% if item.user_id === current_user.id %>
                  <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.start_date %></td>
                    <td><%= item.end_date %></td>
                    <td><%= item.comments %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class='col-sm-12 col-md-6 col-lg-6'>
      <div class="p-5 bg-light border rounded-3">
        <div class='d-flex justify-content-between'>
          <h2>Services ⚙️</h2>
          <%= link_to "Add", new_service_path, class: 'btn link-success' %>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>
            <tbody>
              <% @services.each do |item| %>
                <% if @user.id === item.user_id  %>
                  <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.title %></td>
                    <td><%= item.description %></td>
                    <td><%= item.cost %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div> -->
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 border-right bg-dark border-dark border-end">
      <div class="d-flex flex-column align-items-center p-3 py-5">
        <img class="rounded-circle mt-5 border border-light border-4 mb-3" width="150px" src="https://res.cloudinary.com/dh8a307rs/image/upload/v1655277898/maleuser_qdddqv.jpg">
        <div class="text-center">
          <p class="font-weight-bold text-white fs-2"><%= @user.first_name %> <%= @user.last_name %></p>
          <p class="text-white"><%= @user.email %></p>
          <%# <button class="btn btn-outline-secondary text-black" type="button">Update</button> %>
        </div>
      </div>
    </div>
    <div class="col-md-6 border-right border-dark border-end">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Services</h4>
          <%= link_to "Add", new_service_path, class: 'btn link-success' %>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>
            <tbody>
              <% @services.each do |item| %>
                <% if @user.id === item.user_id  %>
                  <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.title %></td>
                    <td><%= item.description %></td>
                    <td><%= item.cost %></td>
                    <td><%= button_to "Delete", service_path(item.id), class: 'btn link-danger', method: :delete%></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Upcoming Bookings</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">comments</th>
              </tr>
            </thead>
            <tbody>
              <% @bookings.each do |item| %>
                <% if item.user_id === current_user.id %>
                  <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.start_date %></td>
                    <td><%= item.end_date %></td>
                    <td><%= item.comments %></td>
                    <td><%= button_to "Delete", booking_path(item.id), class: 'btn link-danger', method: :delete%></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
