<ul class = "services-list">
  <% services.each do |service| %>
    <li class = "service-item">
      <div class = "service-image"></div>
      <div class = "service-header">
        <div class = "service-title"><%= service.title %></div>
        <div class = "service-category"><%= service.category %></div>
      </div>
      <div class = "divider"></div>
      <div class = "service-info">
        <div class = "service-cost">$<%= service.cost %></div>
        <div class = "service-rating">
        <i class="fa fa-solid fa-star"></i>
        <%= service.average_rating %>
        </div>
      </div>

      <%= link_to service_path(service), class: "add-booking-btn" do %>
        <i class="fa fa-solid fa-plus"></i>
        <div class = "booking-txt">Booking</div>
        <% end %>
     </li>
  <% end %>
</ul>
