<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Choose your trade</span>
    </a>
    <ul class="nav nav-pills text-center">
      <li>
        <i class="fa-solid fa-bolt"></i>
        <%= link_to "Electrician", root_path, class: "block text-decoration-none text-muted bold" %>
      </li>
      <li>
        <i class="fa-solid fa-toilet"></i>
        <%= link_to "Plumber", root_path, class: "block text-decoration-none text-muted" %>
      </li>
      <li>
        <i class="fa-solid fa-leaf"></i>
        <%= link_to "Gardener", root_path, class: "block text-decoration-none text-muted" %>
      </li>
      <li>
        <i class="fa-solid fa-cubes"></i>
        <%= link_to "Woodwork", root_path, class: "block text-decoration-none text-muted" %>
      </li>
      <li>
        <i class="fa-solid fa-hand-fist"></i>
        <%= link_to "Handyman", root_path, class: "block text-decoration-none text-muted" %>
      </li>
      <li>
        <i class="fa-solid fa-truck"></i>
        <%= link_to "Mover", root_path, class: "block text-decoration-none text-muted" %>
      </li>
      <li>
        <i class="fa-solid fa-paint-roller"></i>
        <%= link_to "Painter", root_path, class: "block text-decoration-none text-muted" %>
      </li>
    </ul>
  </header>
</div>
